# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node / Vite
node_modules/
dist/
dist-ssr/
.vite/
*.local

# Env files (MUY IMPORTANTE)
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build / cache
build/
coverage/
.cache/

# Laravel 
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/*.key
backend/bootstrap/cache/*.php

# Misc
*.tmp
*.temp